*{
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.white{
	color: white;
}
.bg-red{
	background-color: #eb4746;
}

.navbar-default {
    background-color: white;
    border-bottom: 1px solid #eb4746;
}
.nav a:hover{
	border-bottom: 2px solid #eb4746;
}
ul.navbar-right li a:hover{
	background-color: #eb4746;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eb4746;
}

/* Header */
#header img{
	width: 100%;
	height: 100%;
}

.padd-55{
	padding-top: 20px;
}

.thumbnail {
    position: relative;
}

.thumbnail .caption {
	color: white;
	background-color: #eb4746;
	font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
}